/*******/
/* ALL */
/*******/

* {
    font-family: "AkozilandNetwork", "AkozilandVolume", "Agave Nerd Font";
    font-size: 18px;
    border: none;
    text-shadow: none;
    box-shadow: none;
    transition-duration: 0.3s;
}

/*******/
/* Bar */
/*******/

window#waybar {
    color: #ff8844;
    background: #333336;
    border-bottom: 2px solid #161720;
}

#custom-spacer {
    margin: 0px 1px;
}

/**************/
/* Workspaces */
/**************/

#workspaces, #custom-scratchpad {
    margin: 0px 0px 5px 0px;
    padding: 1px 2px;
    background: #222224;
    border: 2px solid #161720;
    border-top: none;
    border-left: none;
}

#workspaces button {
    padding: 0px 4px;
    color: #884433;
}

#workspaces button.focused {
    color: #ff8844;
}

#workspaces button.visible {
    color: #ff6622;
}

#workspaces button.urgent {
    color: #bb88ff;
}

#workspaces button:hover {
    color: #ff8844;
    background: #111112;
}

#custom-scratchpad {
    margin: 0px 8px 5px 0px;
    padding: 0px 6px;
}

/********************/
/* Menus & Tooltips */
/********************/

#tray menu, tooltip {
    color: #ffffff;
    background: rgba(0,0,0,0.8);
}

#tray menu *:hover {
    background: rgba(255,255,255,0.1);
}

/*****************/
/* Other Banners */
/*****************/

#mode, #battery, #network, #pulseaudio, #backlight, #clock, #tray {
    margin: 0px 3px 6px 3px;
    padding: 0px 12px 0px 8px;
    color: #333333;
    background: linear-gradient(135deg, #88ee88 calc(100% - 4px), rgba(0,0,0,0) 0%);
}

#backlight {background: linear-gradient(135deg, #ffcc88 calc(100% - 4px), rgba(0,0,0,0) 0%);}
#network {background: linear-gradient(135deg, #ddbbff calc(100% - 4px), rgba(0,0,0,0) 0%);}
#pulseaudio {background: linear-gradient(135deg, #ddbbff calc(100% - 4px), rgba(0,0,0,0) 0%);}
#tray {background: linear-gradient(135deg, #dd6666 calc(100% - 4px), rgba(0,0,0,0) 0%);}

#battery.warning {background: linear-gradient(135deg, #eecc88 calc(100% - 4px), rgba(0,0,0,0) 0%);}
#battery.critical {background: linear-gradient(135deg, #ee7766 calc(100% - 4px), rgba(0,0,0,0) 0%);}
#battery.charging {background: linear-gradient(135deg, #77ff77 calc(100% - 4px), rgba(0,0,0,0) 0%);}

#clock {background: linear-gradient(135deg, #dd6666 calc(100% - 4px), rgba(0,0,0,0) 0%);}
